<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<ul>
  {% if user != None %}
  <li><p>Hi {{ user.username }}!</p></li>
  <li style="float:right"><a href="/logout">Logout</a></li>
  {% elif user == None %}
  <li><p>Hi Guest!</p></li>
  <li style="float:right"><a href="/register">Register</a><a href="/login">Login</a></li>
  {% endif %}
</ul>

<div class=image>
  {% if user != None %}
  <button class="button" onclick="location.href='/{{user.id}}'">Game on!</button>
  {% endif %}
</div>

</body>
</html>

