html{
  background: url("car.jpg"); 
  background-attachment: fixed;
  height: 100%; 
  width: 100%;
  background-repeat: no-repeat;
  font-size: 50px;
  text-align:center;
  background-size: cover;
  
}

button{
	position:static;
	font-weight: bold;
	bottom: 1vw;
	right: -8vw;
	-webkit-border-radius: .5vw;
	line-height: 2.3vw;
	color: blue;
	background-color: #78899;
	width: 13%
	text-align: center;
	border: black 2px solid;
}
.Fen{
	position:static; left: 46%;
	font-size: 20px;
	color:white;
}
.Pgn{
	position:static; left: 46%;
	font-size: 20px;
	color:white;
}
p{
	position:static; 
	font-size: 20px;
	color:white;	
}
ul{
	position:static; 
	font-size: 20px;	
}
#send-message{
	position:static; right: 480px; top: 420px;	
}
#m{
	position:static; right: 480px; top: 420px;	
}

#fen{
	
	font-size: 20px;
	position:relative; left: -2%;
	color:yellow;
	
}

.Texts{
	
	background-color:rgba(0,0,0,0.7);
	border: 2px solid black;
	
}
.Status{
	font-size: 20px;
	position:static; left: 47%;	
	color:white;
	

}
#status{
	font-size: 20px;
	position:static; left: 47%;	
	color:yellow;
	
}
#pgn{
	font-size: 20px;
	position:static; left: 47%;	
	color:yellow;
	
}
#myBoard{
	margin: auto;
	width: 50%;
	padding: 10px;
}
#pgn{
	font-size: 20px;
	position:static; left: 47%;	
	color:yellow;
	
}
#myBoard{
	margin: auto;
	width: 50%;
	padding: 10px;
}












