html{
	background: url("header.jpg");
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
	width: 100%;
	overflow: hidden;
	background-size: 100%;
	font-size: 20px;
}
html{
  background: url("car.jpg"); 
  height: 800px; 
  width: 100%;
  background-repeat: no-repeat;
  font-size: 50px;
  text-align:center;
  background-size: 100%;
}
button{
		background-color: rgba(200,43,180,0.4);
		color: #ffe4e1;
		padding: 6px 10px;
		margin: 8px 0;
		border-style:ridge;
		cursor: pointer;
		width: 4%;
		border-radius: 6%;
}
label{
	position:relative; left: -2%; bottom: 70px;
	font-size: 20px;
	color:white;
}
p{
	position:relative; right: 50px; 
	font-size: 20px;
	color:white;	
}
ul{
	position:relative; right: 50px; 
	font-size: 20px;	
}
#undo{
	position:relative; left: 280px; bottom: 330px;	
}
#resign{
	position:relative; left: 280px; bottom: 330px;	
}
#send-message{
	position:relative; right: 480px; top: 420px;	
}
#m{
	position:relative; right: 480px; top: 420px;	
}
#fen{

	font-size: 20px;
	position:relative; left: -2%; bottom: 70px;
	color:yellow;

}
#Status{
	font-size: 20px;
	position:relative; left: 130px; bottom: 400px;	
}
#status{
	font-size: 20px;
	position:relative; left: 240px; bottom: 410px;	
	color:white;
}
#pgn{
	font-size: 20px;
	position:relative; left: -2%; bottom: 70px;	
	color:yellow;
}
#myBoard{
	size: 840px;
	position:relative; left: 35%;
}

